<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101946132752-fgvjqa2pu2gki626hdn5ftnidime8udt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101946132752-fgvjqa2pu2gki626hdn5ftnidime8udt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>101946132752-2aloi7h6rtp57mh21c8v7g55gjdicm51.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzvTZ_YHgh5ggfr6lkbcTaSLVrya5i8Fc</string>
	<key>GCM_SENDER_ID</key>
	<string>101946132752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nuli.app</string>
	<key>PROJECT_ID</key>
	<string>nuli-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>nuli-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101946132752:ios:05bad92ee97572e24d3d95</string>
	<key>DATABASE_URL</key>
	<string>https://nuli-prod.firebaseio.com</string>
</dict>
</plist>